
/*-------------about page---------------*/
.font {
    font-family: cursive;
}
#aboutsec{
    width: 100%;
    min-height: 100vh;
    background-color: #d3d3d3;
}
.aboutcontainer{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width:  100%;
    height: auto;
}
.content-section .content{
    font-family: cursive;
    float: left;
    width: 55%;
    font-size: 20px;
    margin-top: 10px;
    /* color: #5d5d5d; */
    line-height: 1.5;
}
.content-section h1{
    font-family:cursive;
    padding: 50px;
    font-size: 3.5rem;
    color: 	black;
  
}






@media only screen and (max-width:600px){
    .about-contact-container{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 90%;
    }
    .aboutcontainer{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 100px;
    }
    .content-section{
        float: none;
        width :100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width :100%;
        display: block;
        margin: auto;
    }
    .content-section .title{
       text-align: center;
    }
    .content-section .content{
      text-align: initial;
      float: none;
    }
}



