/*----------------- contact us------------------ */
.about-contact-container{
    width: 60%;
    padding: 45px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.formrow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.col-md-7{
    padding: 20px;
}
.col-md-5{
    background-color:#485051;
    padding: 5px;
    color: #d3d3d3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-control{
    height: 52px;
    background: #d3d3d3;
    color: black;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1)
}
.d-flex p{
    font-size: 18px;
    padding-left: 2px;
    font-family: 'Times New Roman', Times, serif;
}
.bi{
    font-size: 20px;
}  
