.main-content{
    /* margin-left: 1px; */
    margin-top: 80px;
}
#main-content input[type=text]{
    width: 100%;
    height: 100px;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #dcdcdc;
    margin-left: 350px; 

}

