/*-----------spice shop--------------*/
#spiceshp-products .heading{
    font-family:'Times New Roman', Times, serif;
    padding: 50px;
    font-size: 3.5rem;
    color: 	#191970;
}
.heading span{
  
    color: 	#ffa500;
    width: 10%;
    /* color: #fff; */
    display: inline-block;
    padding: 5rem, 3rem;
   
}
#spiceshp-products h3{
    font-family: 'Times New Roman', Times, serif;
}
#spiceshp-products .btn:hover{
    background-color:	orange	;
    color: #FFFFFF;
    border: orange;
    transition: all .42s ease;
}
#spiceshp-products .product-slider{
    padding: 1rem;
}
#spiceshp-products .box{
    background:	white; 
    text-align: center;
    padding: 3rem 2rem;
}
@media only screen and (max-width:600px){
    #spiceshp-products .heading{
        font-size: 2.5rem;
    }
}