*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'poppins', sans-serif;
}
.iconsContainer .icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 3rem ;
}
.iconsContainer .icons .bi{
    cursor: pointer;
    font-size: 30px;
    color: #FFFFFF;
    padding: 0.5rem ;
    border-radius: 50%;
    background-size: 150%;
    transition: background 0.3s ease-in-out;
}
.iconsContainer{
    display: flex;
    justify-content: right;
   
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 20;
}
.navbar{
    background-image: linear-gradient(to right,	#696969,#000000);
    padding: 20 !important;
}
.navbar-nav li{
    padding: 0 20px;
}
.navbar-nav li a{
    color: 	#FFFFFF!important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar-nav li a:hover{
    transform: scale(1.1);
}
.fa-bars-nav{
    color:	#FFFFFF;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
.navbar-brand img{
    height: 60px;
    padding-left: 20px;  
}

